header {text-align: center; background-color: rgb(0, 0, 0); padding: 25pt;
}


header a {margin: 30px; color: white;padding: 10px; ; text-decoration: solid;padding: 12px; background-color: rgb(157, 16, 98);
     border-radius: 11px;
}

header a:hover{

    background-color: rgb(255, 182, 36);
}
h1 {font-family: Arial, Helvetica, sans-serif; font-size: x-large; color: beige;}
p {font-size:25px; color: azure;}

img{margin-left: 500px; 
width: 600px; margin-top:0px;}



body{

    background-image:linear-gradient(rgb(251, 0, 209),black) ;
}
table{max-width: max-content; font-family: 'Times New Roman', Times, serif;color: aliceblue;  font-size: x-large; }

#im{ margin-top:-150px ;}
#aa{background-image: none;}
#h1{color: black;}
#p1{color: black;}
#p2{color: black}
